$main_color: black;
%main_font{
  font-size: 22px;
}

.main-content{
  height: 300px;
  text-align: center;
}

.row > div{
  padding: 20px;
  border: 2px solid white;
  background-color: $main_color;
  color: white;
}

.special{
  background-color: $main_color;
}

div{
  @extend %main_font;
}
